body {
    text-align: center;
    background-color: rgba(244, 245, 194, 0.055);
}

.line {
    height: 6px;
    background-color: navy;
    width: 1250px;
    margin: 8px auto;
}

.my_nav_bar {
    position: sticky;
    top: 0;
    background-color: black;
    color: azure;
}

label {
    background-color: cornflowerblue;
    text-align: center;
    color: white;
    width: 500;
    text-decoration-style: solid;
}

.About_me {
    background-color: rgba(217, 217, 243, 0.644);
}

.My_Hobbies {
    background-color: rgba(154, 231, 221, 0.487);
}